.account,
.account * {
  box-sizing: border-box;
}
.account {
  background: var(--gray-1, #fff9f4);
  width: 1680px;
  height: 945px;
  position: relative;
  overflow: hidden;
}
.top-nav {
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 0px 0px 1px 0px;
  padding: 16px 44px 8px 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1680px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.left {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dfinity-social {
  flex-shrink: 0;
  width: 106.67px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.clip-path-group {
  position: absolute;
  inset: 0;
}
.clip-0-2216-168 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group {
  position: absolute;
  left: 0.3px;
  top: 0.18px;
  overflow: visible;
}
.input-no-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.input-no-label2 {
  border-radius: 40px;
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.group2 {
  position: absolute;
  left: 5px;
  top: 5px;
  overflow: visible;
}
.label {
  color: var(--gray-14, #707070);
  text-align: left;
  font: 400 14px/24px 'Akshar', sans-serif;
  position: relative;
  flex: 1;
  height: 24px;
}
.right {
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.list-item-default {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.left2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.gn-coin {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.description {
  color: var(--gray-24, #0a0a0a);
  text-align: left;
  font: 400 14px/24px 'Akshar', sans-serif;
  position: relative;
}
.title {
  margin: -4px 0 0 0;
  color: var(--gray-24, #0a0a0a);
  text-align: left;
  font: var(--headline-h-6, 400 20px/28px 'Passion One', sans-serif);
  position: relative;
}
.group-btn {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-icon {
  border-radius: 40px;
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.bell-notification {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.button {
  background: var(--primary-5, #e5855d);
  border-radius: 40px;
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
.wallet {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group3 {
  position: absolute;
  inset: 0;
}
.group4 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.text2 {
  color: var(--gray-24, #0a0a0a);
  text-align: left;
  font: var(--btn-large-normal, 400 16px/24px 'Passion One', sans-serif);
  text-transform: uppercase;
  position: relative;
}
.left-menu {
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 0px 1px 0px 0px;
  padding: 80px 44px 80px 44px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 276px;
  position: absolute;
  left: 0px;
  bottom: -1px;
  top: 88px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.feed-default {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.vector10 {
  position: absolute;
  left: 32.67px;
  top: 5.17px;
  overflow: visible;
}
.vector11 {
  position: absolute;
  left: 30.29px;
  top: 5.17px;
  overflow: visible;
}
.vector12 {
  position: absolute;
  left: 1px;
  top: 2px;
  overflow: visible;
}
.vector13 {
  position: absolute;
  left: 35.04px;
  top: 5.17px;
  overflow: visible;
}
.group5 {
  position: absolute;
  left: 4.96px;
  top: 10.37px;
  overflow: visible;
}
.group6 {
  position: absolute;
  left: 20.79px;
  top: 8.33px;
  overflow: visible;
}
.group7 {
  width: 14.25px;
  height: 14.25px;
  position: static;
}
.vector19 {
  position: absolute;
  left: 12.88px;
  top: 21.79px;
  overflow: visible;
}
.vector20 {
  position: absolute;
  left: 17.62px;
  top: 26.54px;
  overflow: visible;
}
.vector21 {
  position: absolute;
  left: 20.79px;
  top: 26.54px;
  overflow: visible;
}
.group8 {
  position: absolute;
  left: 16.83px;
  top: 29.71px;
  overflow: visible;
}
.feed {
  color: var(--gray-24, #0a0a0a);
  text-align: center;
  font: 600 18px/28px 'Akshar', sans-serif;
  position: relative;
}
.daily-task-default {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.group9 {
  position: absolute;
  left: 6.67px;
  top: 0.83px;
  overflow: visible;
}
.daily-task {
  color: var(--gray-24, #0a0a0a);
  text-align: center;
  font: 600 18px/28px 'Akshar', sans-serif;
  position: relative;
}
.stake-default {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.vector28 {
  position: absolute;
  left: 2.5px;
  top: 28.33px;
  overflow: visible;
}
.vector29 {
  position: absolute;
  left: 34.17px;
  top: 28.33px;
  overflow: visible;
}
.vector30 {
  position: absolute;
  left: 17.5px;
  top: 34.17px;
  overflow: visible;
}
.vector31 {
  position: absolute;
  left: 28.33px;
  top: 31.67px;
  overflow: visible;
}
.vector32 {
  position: absolute;
  left: 28.33px;
  top: 35px;
  overflow: visible;
}
.vector33 {
  position: absolute;
  left: 31.67px;
  top: 31.67px;
  overflow: visible;
}
.vector34 {
  position: absolute;
  left: 31.67px;
  top: 35px;
  overflow: visible;
}
.vector35 {
  position: absolute;
  left: 6.67px;
  top: 31.67px;
  overflow: visible;
}
.vector36 {
  position: absolute;
  left: 6.67px;
  top: 35px;
  overflow: visible;
}
.vector37 {
  position: absolute;
  left: 10px;
  top: 31.67px;
  overflow: visible;
}
.vector38 {
  position: absolute;
  left: 10px;
  top: 35px;
  overflow: visible;
}
.vector39 {
  position: absolute;
  left: 17.5px;
  top: 28.33px;
  overflow: visible;
}
.vector40 {
  position: absolute;
  left: 17.5px;
  top: 31.67px;
  overflow: visible;
}
.vector41 {
  position: absolute;
  left: 20.83px;
  top: 28.33px;
  overflow: visible;
}
.vector42 {
  position: absolute;
  left: 20.83px;
  top: 31.67px;
  overflow: visible;
}
.vector43 {
  position: absolute;
  left: 0px;
  top: 38.33px;
  overflow: visible;
}
.vector44 {
  position: absolute;
  left: 17.5px;
  top: 25px;
  overflow: visible;
}
.vector45 {
  position: absolute;
  left: 20.83px;
  top: 25px;
  overflow: visible;
}
.vector46 {
  position: absolute;
  left: 10.83px;
  top: 25px;
  overflow: visible;
}
.vector47 {
  position: absolute;
  left: 14.17px;
  top: 25px;
  overflow: visible;
}
.vector48 {
  position: absolute;
  left: 24.17px;
  top: 25px;
  overflow: visible;
}
.vector49 {
  position: absolute;
  left: 27.5px;
  top: 25px;
  overflow: visible;
}
.vector50 {
  position: absolute;
  left: 7.5px;
  top: 21.67px;
  overflow: visible;
}
.vector51 {
  position: absolute;
  left: 1.67px;
  top: 16.67px;
  overflow: visible;
}
.vector52 {
  position: absolute;
  left: 3.33px;
  top: 11.67px;
  overflow: visible;
}
.vector53 {
  position: absolute;
  left: 3.33px;
  top: 8.33px;
  overflow: visible;
}
.vector54 {
  position: absolute;
  left: 12.5px;
  top: 13.33px;
  overflow: visible;
}
.vector55 {
  position: absolute;
  left: 19.17px;
  top: 13.33px;
  overflow: visible;
}
.vector56 {
  position: absolute;
  left: 19.17px;
  top: 10.83px;
  overflow: visible;
}
.vector57 {
  position: absolute;
  left: 8.33px;
  top: 0px;
  overflow: visible;
}
.vector58 {
  position: absolute;
  left: 16.67px;
  top: 2.5px;
  overflow: visible;
}
.group10 {
  position: absolute;
  left: 34.17px;
  top: 21.67px;
  overflow: visible;
}
.group11 {
  position: absolute;
  left: 35.83px;
  top: 16.67px;
  overflow: visible;
}
.group12 {
  position: absolute;
  left: 35.83px;
  top: 13.33px;
  overflow: visible;
}
.stake {
  color: var(--gray-24, #0a0a0a);
  text-align: center;
  font: 600 18px/28px 'Akshar', sans-serif;
  position: relative;
}
.account-select {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.ellipse-32 {
  background: var(--primary-4, #f19578);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -0.83px;
  top: 2.5px;
}
.group13 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.account2 {
  color: var(--gray-24, #0a0a0a);
  text-align: center;
  font: 600 18px/28px 'Akshar', sans-serif;
  position: relative;
}
.button2 {
  background: var(--primary-5, #e5855d);
  border-radius: 40px;
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 1px;
  padding: 16px 40px 16px 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.plus-3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.group14 {
  position: absolute;
  left: 5px;
  top: 5px;
  overflow: visible;
}
.topcoin {
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 0px 0px 0px 1px;
  padding: 0px 0px 77px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 857px;
  position: absolute;
  left: 1268px;
  top: 88px;
}
.image-284 {
  background: var(--gray-4, #e2dcd9);
  flex-shrink: 0;
  width: 412px;
  height: 403.45px;
  position: relative;
}
.image-285 {
  background: var(--gray-4, #e2dcd9);
  flex-shrink: 0;
  width: 412px;
  height: 412px;
  position: relative;
}
.cover {
  background: var(--gray-4, #e2dcd9);
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 0px 0px 1px 0px;
  width: 992px;
  height: 199px;
  position: absolute;
  left: 276px;
  top: 88px;
}
.info {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 452px;
  top: 392px;
}
.name {
  padding: 0px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.alexandre {
  color: var(--gray-24, #0a0a0a);
  text-align: center;
  font: 400 24px/36px 'Passion One', sans-serif;
  position: relative;
}
.alex-11 {
  margin: -4px 0 0 0;
  color: var(--gray-14, #707070);
  text-align: left;
  font: 400 14px/24px 'Akshar', sans-serif;
  position: relative;
}
.list {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._0 {
  color: var(--gray-24, #0a0a0a);
  text-align: left;
  font: 600 14px/24px 'Akshar', sans-serif;
  position: relative;
}
.followers {
  color: var(--gray-14, #707070);
  text-align: left;
  font: 400 14px/24px 'Akshar', sans-serif;
  position: relative;
}
._2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.following {
  color: var(--gray-14, #707070);
  text-align: left;
  font: 400 14px/24px 'Akshar', sans-serif;
  position: relative;
}
.aavatar {
  position: absolute;
  inset: 0;
}
.avatar {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 452px;
  top: 248px;
  overflow: hidden;
}
.avatar2 {
  background: var(--gray-4, #e2dcd9);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.medal {
  position: absolute;
  left: 540px;
  top: 336px;
  overflow: visible;
}
.btn-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 588px;
  top: 311px;
}
.button3 {
  background: var(--primary-5, #e5855d);
  border-radius: 40px;
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.user-plus {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group15 {
  position: absolute;
  left: 4px;
  top: 4px;
  overflow: visible;
}
.text3 {
  color: var(--gray-24, #0a0a0a);
  text-align: left;
  font: var(--btn-medium-normal, 400 14px/24px 'Passion One', sans-serif);
  text-transform: uppercase;
  position: relative;
}
.button4 {
  border-radius: 40px;
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 106px;
  position: relative;
}
.tabs-fill {
  border-radius: 26px;
  border-style: solid;
  border-color: var(--gray-22, #1f1f1f);
  border-width: 1px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 272px;
  position: absolute;
  left: 452px;
  top: 472px;
  overflow: hidden;
}
.tabs-fill-item {
  background: var(--gray-24, #0a0a0a);
  border-radius: 40px;
  padding: 6px 16px 6px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.tab {
  color: var(--white, #ffffff);
  text-align: left;
  font: 600 14px/24px 'Akshar', sans-serif;
  position: relative;
}
.tabs-fill-item2 {
  border-radius: 40px;
  padding: 6px 16px 6px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.tab2 {
  color: var(--gray-24, #0a0a0a);
  text-align: left;
  font: 600 14px/24px 'Akshar', sans-serif;
  position: relative;
}
.noti {
  background: var(--primary-2, #fcd3b9);
  border-style: solid;
  border-color: var(--gray-24, #0a0a0a);
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  width: 640px;
  position: absolute;
  left: 452px;
  top: 576px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}
.initialize-your-coin-for-the-best-experience-with-genfi {
  color: var(--gray-24, #0a0a0a);
  text-align: left;
  font: 600 16px/24px 'Akshar', sans-serif;
  position: relative;
}
.initialize-your-coin {
  color: var(--gray-24, #0a0a0a);
  text-align: left;
  font: 600 16px/24px 'Akshar', sans-serif;
  text-decoration: underline;
  position: relative;
}
